<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.os.app.appstore.launcher" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>outsystems-app-store-launcher-plugin</name>
	<js-module name="LaunchMobileStore" src="www/LaunchMobileStore.js">
		<clobbers target="cordova.plugins.LaunchMobileStore"/>
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="LaunchMobileStore">
				<param name="android-package" value="com.cordova.launchstore.LaunchMobileStore"/>
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"/>
		<source-file src="src/android/LaunchMobileStore.java" target-dir="src/com/cordova/launchstore"/>
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="LaunchMobileStore">
				<param name="ios-package" value="LaunchMobileStore"/>
			</feature>
		</config-file>
		<source-file src="src/ios/LaunchMobileStore.m"/>
	</platform>
</plugin>